
<header id="navbar" class="nav">
    <a class="navbar-brand" href="/">
			<img src="{{ asset('assets/uploads/logoeolia170px.png')}}" alt="char à voile Baie de Somme"></a>
     
    <div class="dropdown-1">
        <button>Nos activités</button> 
            <div class="content">
               <a href="{{ path('app_calendar_index') }}">Toutes les séances</a>
               <a href="{{ path('calendar_all_char') }}">Char à voile</a>
				<a href="{{ path('cataAll_show') }}">Catamaran</a>
				<a href="{{ path('charkidAll_show') }}">Char à voile kid</a>
            </div>
    </div>
     <div class="dropdown-1">
        <button>Consulter le planning</button> 
            <div class="content">
              <a class="asous" href="{{ path('app_calendar_main') }} "> Toutes les activités</a>
              <a class="asous" href="{{ path('app_calendar_main_char') }} "> Char à voile</a>
				<a class="asous" href="{{ path('app_calendar_main_cata') }} "> Catamaran</a>
				<a class="asous" href="{{ path('app_calendar_main_kid') }} "> Char à voile Kid</a>
            </div>
    </div>



 		
	
			<a class="aderoulant" href="#">Contact</a>
		

		





		{% if app.user %}

			
				<a class="aderoulant" href="{{ path('app_purchase') }}">Commandes</a>
			
				<a class="aderoulant" href="{{ path('app_logout') }}">Déconnexion</a>
			
				{# CartService enregistré dans twig.yaml#}
				<a class="aderoulant" href="{{ path('cart_index') }} ">🛒
				({{ cartService.total | amount }})
				</a>
			
			{% else %}
			
				<a class="aderoulant" href=" {{ path('app_registration')  }}">Inscription</a>
			
				<a class="aderoulant" href="{{ path('app_login') }}">Connexion</a>
			
			{% endif %}


       <a href="{{ path('admin_user_index') }}">Admin</a>



  </div>
   
</nav>


     <a class="icon" onclick = "myFunction()">&#9776;</a>

</header>

