

<header id="navbar" class="nav">
    <a class="navbar-brand" href="/">
			<img src="{{ asset('assets/uploads/logoeolia170px.png')}}" alt="char à voile Baie de Somme"></a>
      
							 <a class="dropdown-item" href="{{ path('admin_main_calendar')  }} ">Calendrier</a>
						
							<a class="dropdown-item" href="{{ path('admin_calendar_new') }} "> Créer une séance (rdv)</a>
									   
							<a class="dropdown-item" href="{{ path('admin_calendar_index') }}"> Liste des séances </a>
					
							<a class="dropdown-item" href="{{ path('admin_customer_index') }} "> Liste des clients</a>	
							<a class="dropdown-item" href="{{ path('admin_customer_new') }} "> Créer un client</a>					
  </div>
   
</nav>


     <a class="icon" onclick = "myFunction()">&#9776;</a>

</header>
 


