{% extends 'base.html.twig' %}

{% block title %}ListByCat{% endblock %}

{% block body %}
<main class="container">
   <section class="row">
   
        <h1 class ="htitrecat"> Toutes les séances de {{ idcat.title }} </h1>
        
        <div>

           {% for calendar in calendars %}     

            <div class ="card">
            <!--  <img class="imgsite" src="{#{{ calendar.picture }}#}"  alt="char à voile"> -->

              <div class="card-body">
                 <h4 class="card-title"> ({{ calendar.price / 100 }} &euro;)</h4>
                 <span class="badge">{{ calendar.category.title }}</span>
              <!--   <p class="card-text">{#}{{ calendar.shortDescription }}#}</p> -->
                 <p>Date de la séance:
		      		{{ calendar.start|date("Y-m-d H:i:s") }}</p>
                 <a href="{{ path('app_calendar_show', {'id': calendar.id}) }}">Détails</a>
                 <a href="{{ path('cart_add', {'id': calendar.id}) }}" class="btn btn-success btn-lg">Ajouter au panier</a> 
              </div>
          </div>
           
          {% endfor %} 
       </div>           
   </section>
</main>  
{% endblock %}