{% extends 'base.html.twig' %}

{% block title %}Calendar-show{% endblock %}

{% block body %}
   <div class="milieu">
    <h1> {{ calendar.title }}</h1>
        
           	<img class="imgsite" src="{{ calendar.picture }}" alt="Image de {{ calendar.title }}">
    <table class="table">
        <tbody>
            
            <tr>
                <th>Titre</th>
                <td>{{ calendar.title }}</td>
                
            </tr>


            


            <tr>
                <th>Début de la séance</th>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin de la séance</th>
                <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
              <tr>
                <th>Prix</th>
                <td>{{ calendar.price | amount }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ calendar.stock }}</td>
            </tr>
            <tr>
          
      
        </tbody>
    </table>
     </div>   
    <div class="milieu">
     <a href="{{ path('cart_add', {'id': calendar.id}) }}">ajouter au panier</a>
    <a href="{{ path('app_calendar_index') }}">Retour à la liste</a>
    </div>

    
{% endblock %}
