{% extends 'baseaccueil.html.twig' %}

{% block title %}Éolia!{% endblock %}


{% block body %}



    <div class="titremobil">
           

          <!--    <picture>
               <source srcset="{#}{{ asset('assets/uploads/char-accueil.jpg')}}" alt ="char à voile Baie de Somme" media="(orientation: portrait)">
               <img src="{{ asset('assets/uploads/chardepart-tab.webp')}}"alt ="char à voile Baie de Somme">
               </picture> #} -->


      
    </div> 

   <section class="titre-accueil">

      <h1 class="titreh1"> Char à Voile Baie de Somme</h1>
     <h2 class = "titreh2"> Fort Mahon et Quend-Plage</h2>
 

    <div class="activite">
           <div class="activiteaccueil">
        
              <div class="activitecata">
                     <div class="btnactiviteaccueil">
                          <a class="lienaccueil" href="{{ path('app_calendar_main_cata') }}"> Catamaran </a>
                    </div>
              </div>

              <div class="activitechar">   
                          <a class="lienaccueil" href="{{ path('app_calendar_main_char') }}" class="btn btn-secondary btn-sm"> Char </a>       
              </div>
          
             <div class="activitekid">
                          <a class="lienaccueilkid" href="{{ path('app_calendar_main_kid') }}" class="btn btn-secondary btn-sm"> Char à voile kid </a>
             </div>
      </div>
   </section>




           
           
      

             <div class="description">
                <div class="paragraphe">
                    <p>Éolia vous propose la pratique du char à voile en baie de Somme à Fort Mahon et à Quend-plage. Sport typique en Picardie, le char à voile, sorte de « kart aéro propulsé », extrêmement maniable, léger et confortable est un loisir accessible à tous. Enfants, familles, séniors, personnes à mobilité réduite, groupes scolaires.</p>
                    <p>Au cours de votre première séance d’initiation de char à voile à Fort Mahon, après environ 1 heure d’apprentissage, selon les conditions météos, une randonnée ou balade en char à voile commence sous la conduite d’un moniteur Breveté d’État. Les coquillages craquent sous vos roues, le vent fait légèrement chasser les roues arrières dans une fine gerbe de sable…</p>
                    <p>Devant vous l’espace infini de la Baie de Somme en Picardie, EOLIA vous convie à des « Escapades Aér’O Plage », sorties inoubliables aux accents d’Air d’Eau et de Sable.</p>
                </div>
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d162960.58094757705!2d1.578692!3d50.343073!3m2!1i1024!2i768!4f13.1!2m1!1sEolia%20Fort%20mMahon%20et%20Quend%20Plage!5e0!3m2!1sfr!2sus!4v1639571521156!5m2!1sfr!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  
                
    </div>

    <div class="p-version-tablette">
                    <p>Devant vous l’espace infini de la Baie de Somme en Picardie, EOLIA vous convie à des « Escapades Aér’O Plage », sorties inoubliables aux accents d’Air d’Eau et de Sable.</p>
     </div>




   <script src="/assets/js/slider.js" defer></script> 

	
       <script src="/assets/js/menu.js"> </script> 

{% endblock %}
 