{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
 <main class="container">
    <section class="formloginregister">
        <div>
            <div>
                <h1>Inscription</h1>


                {{ form_start(registrationForm) }}
                   <fieldset>
                         <legend> Mon identité</legend>
                    {#    {{ form_row(registrationForm.lastname) }}
                       {{ form_row(registrationForm.firstname) }}#}
                       {{ form_row(registrationForm.fullName) }}
                      {{ form_row(registrationForm.email) }}
                     {#    {{ form_row(registrationForm.phone) }}#}
                   </fieldset>
                  {# <legend> Mes coordonnées </legend>
                       {{ form_row(registrationForm.address) }}
                       {{ form_row(registrationForm.city) }}
                       {{ form_row(registrationForm.zipcode) }}
                       {{ form_row(registrationForm.country) }}#}
                   <fieldset>
                       <legend>
                           {{ form_row(registrationForm.plainPassword, {
                               label: 'Password'
                           }) }}
                           {#        {{ form_row(registrationForm.agreeTerms) }}#}
                           {{ form_row(registrationForm.RGBDConsent) }}
                       </legend>
                   </fieldset>

                      <button type="submit">M'inscrire</button>
                          <a href="{{ path('app_login') }}" class="btn btn-secondary">Me connecter</a>
                      {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
 </main>

{% endblock %}