{% extends 'base.admin.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}

    <h1> Détail de la séance {{ calendar.title }} </h1>
   <h2>Date: {{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</h2>
    <img class="imgsite" src="{{ calendar.picture }}" alt="Image de {{ calendar.title }}">




    <table class="table">
        <tbody>


        <tr>
            <th>Quantité-disponible</th>
            <td>{{ calendar.stock }}</td>
        </tr>

        <tr>
            <th>Quantité-commandée</th>
         {#}  {{ dump(calendarQuantityClient.quantity) }} #}
         
           <td>{{ calendarQuantityClient.quantity }}</td> 
        </tr>

        <th>Quantité-commandée-somme </th>


        <td> {#}  {{ dump(resultquery) }} #}</td>
        </tr>
        <tr>
            <th>client</th>
            <td>{{ calendarName }}</td>
        </tr>

        <tr>
            <th>Titre</th>
            <td>{{ calendar.title }}</td>
        </tr>

        <tr>
            <th>Date de début</th>
            <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ calendar.price }}</td>
        </tr>

        <tr>
            <th>Id activité</th>
            <td>{{ calendar.id }}</td>
        </tr>



        </tbody>
    </table>
    <div class="action">
    <h2>Ajout client</h2>
    {#} {{ form_start(form, {'action': path('admin_customer_new')}) }}



     {{ form_widget(form) }}

     <button type="submit" class="success">Valider</button>

     {{ form_end(form) }} #}

   <a href="#">ajout client</a>


        <a href="{{ path('admin_calendar_index') }}">Retours à la liste</a>

        <a href="{{ path('admin_calendar_edit', {'id': calendar.id}) }}">edit</a>
        {{ include('admin/calendar/_delete_form.html.twig') }}
    </div>


{% endblock %}
