{% extends 'base.admin.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_category_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">edit</a>

    {{ include('admin/category/_delete_form.html.twig') }}
{% endblock %}
